<p-card>
    <div class="grid mb-4 pl-2 pr-2 align-items-center">
        <h2>Inscrição</h2>
    </div>
    <div class="grid">
        <div class="col-4">
            <span class="ui-float-label">
                <input type="text" id="colaboradorNome" name="colaboradorNome" pInputText
                    [(ngModel)]="colaborador.nome" />
                <label for="colaboradorNome">Nome</label>
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input type="text" id="colaboradorSobrenome" name="colaboradorSobrenome" pInputText
                    [(ngModel)]="colaborador.sobrenome">
                <label for="colaboradorSobrenome">Sobrenome</label>
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input type="email" id="colaboradorEmail" name="colaboradorEmail" email pInputText [(ngModel)]="colaborador.email">
                <label for="colaboradorEmail">Email</label>
            </span>
        </div>
        <div class="col-2 mt-5">
            <span class="ui-float-label">
                <p-inputMask type="text" id="colaboradorCPF" name="colaboradorCPF" mask="999.999.999-99" [(ngModel)]="colaborador.cpf" unmask = "true"></p-inputMask>
                <label for="colaboradorCPF">CPF</label>
            </span>
        </div>
        <div class="col-2 mt-5">
            <span class="ui-float-label">
                <p-calendar [(ngModel)]="colaborador.dataNascimento" name="dataNascimento">
                </p-calendar>
                <label>Data de Nascimento</label>
            </span>
        </div>
        <div class="col-2 mt-5">
            <span class="ui-float-label">
                <p-calendar [(ngModel)]="colaborador.dataAdmissao" name="dataAdmissao"></p-calendar>
                <label>Data de Admissão</label>
            </span>
        </div>

        <div class="col mt-5">
            <label class="pr-2">Senioridade:</label>
            <p-radioButton name="groupname" value="1" label="Estagiário" class="pr-2"
                [(ngModel)]="colaborador.senioridadeID">
            </p-radioButton>
            <p-radioButton name="groupname" value="2" label="Júnior" class="pr-2"
                [(ngModel)]="colaborador.senioridadeID">
            </p-radioButton>
            <p-radioButton name="groupname" value="3" label="Pleno" class="pr-2"
                [(ngModel)]="colaborador.senioridadeID">
            </p-radioButton>
            <p-radioButton name="groupname" value="4" label="Sênior" [(ngModel)]="colaborador.senioridadeID">
            </p-radioButton>
        </div>
    </div>
    <div class="grid">
        <div class="col-2 " class='img-wrapper m-3'>
            <img [src]="imagemForm()" *ngIf="colaborador.foto || imagebase64" />
        </div>
        <div class=" col-5 mt-5">
            <p-fileUpload name="myfile[]" accept="image/*" maxFileSize="5000000" [auto]="true"
                (uploadHandler)="tratarFoto($event)" customUpload="true" chooseLabel="Escolher Foto">
            </p-fileUpload>
        </div>
        <div class="col-1 col-offset-11">
        <p-button label="Salvar" (onClick)="salvar('success')" styleClass="ui-button-success"></p-button>
        </div>
    </div>


    <p-card>
        <div class="grid mb-3 mt-2 pl-2 pr-2 align-items-center">
            <h2>Lista de Tecnologias</h2>
            <p-card class="mt-10" id="cardButton">
                <div class="grid" >
                    <div class="col-4">
                <p-dropdown [options]="categorias" (onChange)="buscarCompetencias($event)"
                    [(ngModel)]="categoriaSelecionada" name="categoria" placeholder="Selecione uma Categoria">
                </p-dropdown>
                </div>
                <div class="col-4">
                <p-dropdown [options]="competencias" name="competencia" [(ngModel)]="competenciaSelecionada"
                    placeholder="Selecione uma Competência"></p-dropdown>
                </div>
                <div class="col-4">
                <p-dropdown [options]="nivel"  [(ngModel)]="nivelSelecionado"
                    placeholder="Selecione um Nível"></p-dropdown>
                    </div>
                    <div class="col-1 col-offset-5">
                <button type="button" icon="ui-icon-plus" pButton (click)="adicionarCompetencia('success')"></button>
                </div>
            </div>
            </p-card>
        </div>


        <p-table [value]="categoriaCompetencia" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Categoria</th>
                    <th>Competência</th>
                    <th>Nível</th>
                    <th [ngStyle]="{'width': '110px'}">Ação</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cc>
                <tr>
                    <td class="text-center">{{cc.competencia.categoria.nome}}</td>
                    <td class="text-center">{{cc.competencia.nome}}</td>
                    <td class="text-center">{{cc.nivel}}</td>
                    <td>
                        <p-button icon="pi pi-trash" class="ui-button-danger" styleClass="rounded-button ui-button-danger" (onClick)="deletar(cc)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
   