<form action="">
    <p-card>
        <div class="grid mb-4 pl-2 pr-2 align-items-center">
            <h2>Inscrição</h2>
        </div>
        <div class="grid">
            <div class="col-4">
                <span class="ui-float-label">
                    <input type="text" id="colaboradorNome" name="colaboradorNome" pInputText
                        [(ngModel)]="colaborador.nome" />
                    <label for="colaboradorNome">Nome</label>
                </span>
            </div>
            <div class="col-4">
                <span class="ui-float-label">
                    <input type="text" id="colaboradorSobrenome" name="colaboradorSobrenome" pInputText
                        [(ngModel)]="colaborador.sobrenome">
                    <label for="colaboradorSobrenome">Sobrenome</label>
                </span>
            </div>
            <div class="col-4">
                <span class="ui-float-label">
                    <input id="colaboradorEmail" name="colaboradorEmail" pInputText [(ngModel)]="colaborador.email">
                    <label for="colaboradorEmail">Email</label>
                </span>
            </div>
            <div class="col-2 mt-5">
                <span class="ui-float-label">
                    <input type="text" id="colaboradorCPF" name="colaboradorCPF" pInputText
                        [(ngModel)]="colaborador.cpf">
                    <label for="colaboradorCPF">CPF</label>
                </span>
            </div>
            <div class="col-2 mt-5">
                <span class="ui-float-label">
                    <p-calendar [(ngModel)]="colaborador.dataNascimento" name="dataNascimento">
                    </p-calendar>
                    <label>Data de Nascimento</label>
                </span>
            </div>
            <div class="col-2 mt-5">
                <span class="ui-float-label">
                    <p-calendar [(ngModel)]="colaborador.dataAdmissao" name="dataAdmissao"></p-calendar>
                    <label>Data de Admissão</label>
                </span>
            </div>

            <div class="col mt-5">
                <label class="pr-2">Senioridade:</label>
                <p-radioButton name="groupname" value="1" label="Estagiário" class="pr-2"
                    [(ngModel)]="colaborador.senioridadeID">
                </p-radioButton>
                <p-radioButton name="groupname" value="2" label="Júnior" class="pr-2"
                    [(ngModel)]="colaborador.senioridadeID">
                </p-radioButton>
                <p-radioButton name="groupname" value="3" label="Pleno" class="pr-2"
                    [(ngModel)]="colaborador.senioridadeID">
                </p-radioButton>
                <p-radioButton name="groupname" value="4" label="Sênior" [(ngModel)]="colaborador.senioridadeID">
                </p-radioButton>
            </div>
        </div>
        <div class="grid" >
            <div class="col-2 mt-5" class='img-wrapper'>
            <img [src]="imagebase64" />
            </div>
            <div class=" col-5 mt-5" >
                <input type="text" id="colaboradorFoto" name="colaboradorFoto" pInputText [(ngModel)]="colaborador.foto">
                <p-fileUpload name="myfile[]" accept="image/*" maxFileSize="5000000" [auto]="true"
                    (uploadHandler)="tratarFoto($event)" customUpload="true" chooseLabel="Escolher Foto">
                </p-fileUpload>
            </div>
        </div>
        <p-button label="Salvar" (onClick)="salvar('success')" styleClass="ui-button-success"></p-button>


        <p-card>
            <div class="grid mb-3 mt-2 pl-2 pr-2 align-items-center">
                <h2>Lista de Tecnologias</h2>
                <span class="col"></span>
                <p-card>
                    <p-dropdown [options]="categorias" (onChange)="buscarCompetencias($event)" [(ngModel)]="categoriaSelecionada" name="categoria" placeholder="Selecione uma Categoria"></p-dropdown>
                    <p-dropdown [options]="competencias" name="competencia" [(ngModel)]="competenciaSelecionada" placeholder="Selecione uma Competência"></p-dropdown>
                    <button type="button" icon="ui-icon-plus" pButton
                    (click)="adicionarCompetencia()"></button>
                </p-card>
            </div>


            <p-table [value]="categoriaCompetencia" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Categoria</th>
                        <th>Competência</th>
                        <th [ngStyle]="{'width': '110px'}">Ação</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cc >
                    <tr>
                        <td class="text-center">{{cc.competencia.categoria.nome}}</td>
                        <td class="text-center">{{cc.competencia.nome}}</td>
                        <td>
                            <span class="pr-2"></span>
                            <p-button icon="ui-icon-trash" (onClick)="deletar(cc)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>

