<p-card>
    <div class="grid mb-3 mt-2 pl-2 pr-2 align-items-center">
        <h2>Lista de Colaboradores</h2>
        <span class="col"></span>
        <button pButton type="button" icon="ui-icon-plus" class="ui-button-success" iconPos="left" label="Adicionar"
        (click)="adicionar()" ></button> </div>
    <p-table [value]="colaboradores" responsiveLayout="scroll" paginator="true" rows="8">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Senioridade</th>
                <th [ngStyle]="{'width': '110px'}">Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-colaborador>
            <tr>
                <td class="text-center">{{colaborador.nome}} {{colaborador.sobrenome}}</td>
                <td class="text-center">{{colaborador.email}}</td>
                <td class="text-center">{{colaborador.senioridadeNome}}</td>
                <td>
                    <p-button icon="pi pi-pencil" styleClass="rounded-button ui-button-help" (onClick)="editar(colaborador.id)"></p-button>
                    <span class="pr-2"></span>
                    <p-button icon="pi pi-trash" class="ui-button-danger" styleClass="rounded-button ui-button-danger" (onClick)="deletar(colaborador)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
